<nav>
    <div class="nav-wrapper purple darken-3">
         <input placeholder="Search" id="searchBar" type="text" class="searchBar">
        <a href="/" class="brand-logo center"><img id="topLogo" src="/images/topLogo2.png"></a>




        {{#if notHome}}
        {{>buttons}}
        {{/if}}

    </div>
</nav>