<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="row">
          <div class="col s12 m6">
            <div id="loginCard" class="card">
              <div class="card-content white-text purple darken-3">
                <span class="card-title">Login</span>
              </div>
              <div class="card-action white">
                <div class="row">
                  <form action="POST" class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input id="email" type="text" class="validate">
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <button id="loginButton" class="right btn waves-effect waves-light purple darken-3">Login
                      <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="fixed-action-btn bottom left">
                  <a id="openRegister"
                    class="btn-floating btn-large waves-effect waves-light purple lighten-3 modal-trigger"
                    href="#modal1">
                    <i class="large material-icons">add</i>
                  </a>
                </div>
                <div id="modal1" class="modal">
                  <div class="modal-content white">
                    <div class="modal-header">
                      <h4>Register</h4>
                    </div>
                    <form action="POST" class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="firstName" type="text" class="validate">
                          <label for="firstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="lastName" type="text" class="validate">
                          <label for="lastName">Last Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="regUserName" type="text" class="validate">
                          <label for="regUserName">User Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="regEmail" type="text" class="validate">
                          <label for="regEmail">Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="regPassword" type="password" class="validate">
                          <label for="regPassword">Password</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="repeatPassword" type="password" class="validate">
                          <label for="repeatPassword">Confirm Password</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="file-field input-field col s12">
                          <div class="file-path-wrapper">
                            <i class="material-icons prefix">save</i>
                            <input type="file">
                            <input id="userImg" placeholder="Upload a User Photo" class="file-path validate"
                              type="text">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <a id="registerAccountSubmit"
                      class="modal-close waves-effect waves-green btn purple darken-3">Create New
                      Account!</a>
                  </div>
                </div>
              </div>
            </div>
            <p id="underLoginText" class="modal-trigger" href="#modal1">Click here to register for a new page!</p>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/index.js"></script>
    <script>
      var titanic = new Titanic({
        hover: true, // auto animated on hover (default true)
        click: true  // auto animated on click/tap (default false)
      });

      $(document).ready(function () {
        $('.modal').modal();
      });
    </script>