<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-3 hide-on-med-and-down">
                <div class="row">
                    <div class="col-12">
                        <img id="leftLogo" src="/images/leftLogo.png" class="focus-in-expand-fwd">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card white">
                            <div style="padding:2px;" class="card-header purple darken-3 white-text margin-left-3">
                                <form>
                                    <div class="input-field col s12">
                                        <div class="row">
                                            <div class="col-2">
                                                <img style="height:50px; width:50px;display:inline-block"
                                                    src="https://miro.medium.com/max/560/1*MccriYX-ciBniUzRKAUsAw.png">
                                            </div>
                                            <div class="col-10">
                                                <textarea style="display:inline-block" id="postTextBox"
                                                    class="materialize-textarea" data-length="140"
                                                    placeholder="  Start an argument here!"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <a class="waves-effect waves-light btn-small orange lighten-2 left"><i
                                                        class="material-icons">photo</i></a>
                                            </div>
                                            <div class="col-6">

                                                <button class="btn waves-effect waves-light orange lighten-2 right"
                                                    id="newPostSubmit" name="action">Post
                                                    <i class="material-icons right">send</i>
                                            </div>
                                        </div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="postContainer">

                            {{#each account}}
                            <div id="testPost" class="post">
                                <div class="card">
                                    <div class="postBox card-content">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="material-icons prefix" style="top:0px!important;">
                                                    <img style="height:45px; width:45px;"
                                                        src="https://miro.medium.com/max/560/1*MccriYX-ciBniUzRKAUsAw.png">
                                                </i>
                                            </div>
                                            <div class="col-10">
                                                {{!-- <p id="postText"></p> --}}
                                                <p>{{this.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-action commentBar">
                                            <div class="col-4 left">
                                                <i class="flaticon-fire tooltipped" data-position="bottom"
                                                    data-tooltip="Fire"></i>
                                            </div>
                                            <div class="col-4 left">
                                                <i class="material-icons prefix">
                                                    <div style="height:20px; width: 20px;"
                                                        class="titanic titanic-trash tooltipped" data-position="bottom"
                                                        data-tooltip="Trash">
                                                    </div>
                                                </i>
                                            </div>
                                            <div class="col-4 left">
                                                <i id="commentIcon" class="material-icons tooltipped"
                                                    data-position="bottom" data-tooltip="Comment">comment</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="commentRow" style="display: none" class="row">
                                        <div style="padding:10px; margin-top:-25px;" class="card-content">
                                            <div class="col l12 m6 s3 enterComment">
                                                <form>
                                                    <textarea class="commentTextBox" style="margin-top:6px;"
                                                        id="textarea2" class="materialize-textarea" data-length="140"
                                                        placeholder="  Argue with this person!"
                                                        commentFieldId="1-1"></textarea>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="commentSection" postId="1">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{/each}}
                            <div id="newPost" class="post">
                                <div class="card">
                                    <div class="postBox card-content">
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="material-icons prefix" style="top:0px!important;">
                                                    <img style="height:45px; width:45px;"
                                                        src="https://miro.medium.com/max/560/1*MccriYX-ciBniUzRKAUsAw.png">
                                                </i>
                                            </div>
                                            <div class="col-10">
                                                <p class="postText" id="post1" postId="1" class="focus-in-expand-fwd">
                                                    This is a
                                                    post by a person and it has a
                                                    funny statement
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-action commentBar">
                                            <div class="col-4 left">
                                                <i class="flaticon-fire tooltipped" data-position="bottom"
                                                    data-tooltip="Fire"></i>
                                            </div>
                                            <div class="col-4 left">
                                                <i class="material-icons prefix">
                                                    <div style="height:20px; width: 20px;"
                                                        class="titanic titanic-trash tooltipped" data-position="bottom"
                                                        data-tooltip="Trash">
                                                    </div>
                                                </i>
                                            </div>
                                            <div class="col-4 left">
                                                <i id="commentIcon" class="material-icons tooltipped"
                                                    data-position="bottom" data-tooltip="Comment">comment</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div style="padding:10px; margin-top:-25px;" class="card-content">
                                            <div class="col l12 m6 s3 enterComment">
                                                <form>
                                                    <textarea class="commentTextBox" style="margin-top:6px;"
                                                        id="textarea2" class="materialize-textarea" data-length="140"
                                                        placeholder="  Argue with this person!"
                                                        commentFieldId="1-1"></textarea>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="commentSection" postId="1">
                                                <div class="comment">
                                                    <img style="height:25px; width:25px;"
                                                        src="https://miro.medium.com/max/560/1*MccriYX-ciBniUzRKAUsAw.png">
                                                    <p class="commentText" commentId="1-1">This is a little comment
                                                        hahahaha
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 hide-on-med-and-down">
                <div class="row">
                    <div class="col-12">
                        <div id="userInfo">
                            <div class="userBox card">
                                <div class="card-content">
                                    <div class="row">
                                        <i id="userBoxPic" class="center-align material-icons prefix"
                                            style="top:0px!important;">
                                            <img class="center-align" style="height:45px; width:45px;"
                                                src="https://miro.medium.com/max/560/1*MccriYX-ciBniUzRKAUsAw.png">
                                        </i>
                                    </div>
                                    <div class="row">
                                        <p id="userBoxName" class="center-align">UserName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="card-action userInfo Bar">
                                        <p>Posts: "0"</p><br>
                                        <p>Comments: "0"</p><br>
                                        <p>Fire: "0"</p><br>
                                        <p>Trash: "0"</p><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/index.js"></script>
<script>
    $(document).ready(function () {
        // This file just does a GET request to figure out which user is logged in
        // and updates the HTML on the page
        $.get("/api/user_data").then(function (data) {
            $("#userBoxName").text(data.userName);

            localStorage.setItem("userId", data.id)
            console.log("data from backend ", data);
        });
    });

    var titanic = new Titanic({
        hover: true, // auto animated on hover (default true)
        click: true  // auto animated on click/tap (default false)
    });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems, { margin: 0 });
        var tooltip = M.Tooltip.getInstance(document.getElementsByClassName('tooltipped'));
        // tooltip.open();
    });
</script>