    <div id="login">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h2>Login</h2>
                    <form class="clearfix mb-4" action="POST">
                        <!-- Username  -->
                        <div class="form-group">
                            <label for="userName">Username:</label>
                            <input type="text" id="userName" class="form-control" aria-describedby="userName"
                                placeholder=""></input>
                        </div>
                        <!-- Password  -->
                        <div class="form-group">
                            <label for="psw">Password:</label>
                            <input type="password" id="psw" class="form-control" aria-describedby="psw"
                                placeholder=""></input>
                        </div>
                        <!-- Submit Button  -->
                        <button id="loginAccountSubmit" class="btn btn-primary float-right">Submit</button>
                    </form>

                    </ul>
                </div>
            </div>
        </div>
    </div>